.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 92px 26.52px 96px;
}

.header__links-list {
  display: flex;
  gap: 13px;
  margin-top: 3px;
  padding-left: 10px;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item:not(.header__link_active)::marker {
  font-size: 1.35rem;
}

.header__links-list-item:first-child {
  transform: translateY(2px);
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  margin-left: -10px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.01em;
  text-decoration: underline;
  white-space: nowrap;
}

.header__link.header__link_active {
  letter-spacing: 0;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.header__address {
  justify-self: flex-end;
  padding-top: 3px;
}

.cover {
  height: 757px;
  margin-bottom: 179px;
}

.cover_background_image {
  background-image: url("/images/cover.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.cover__inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 51px;
}

.cover__title {
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.224em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title .aligned-text:nth-child(1) {
  margin-top: -2px;
}

.cover__title .aligned-text:nth-child(2) {
  margin-top: 2px;
  margin-left: -27px;
}

.cover__title .aligned-text:nth-child(3) {
  margin-right: -29px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.cover__description-text {
  padding-left: 28px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.84em;
}

.bet-button {
  width: 256px;
  height: 51px;
}

.lots {
  margin-bottom: 146px;
}

.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__footer {
  padding-left: 40px;
}

.lots__look-more-link {
  display: block;
  height: 25px;
  font-size: 20px;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 72px;
  margin-bottom: 180px;
  padding-top: 35px;
  padding-left: 47px;
}

.about__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo {
  width: 148px;
  height: 114px;
}

.about__column-right {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.003em;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 26px 88px;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 18px;
}

.footer__menu-link.footer__menu-link_active {
  text-decoration: none;
}
